XUI_PORT=2053
XUI_INIT_WEB_BASE_PATH=/
XUI_ENABLE_FAIL2BAN=true
XUI_SKIP_HSTS=false
XUI_LOG_LEVEL=info
XUI_GOGC=75
XUI_MEMORY_RELEASE_INTERVAL=10
XUI_MEMORY_LIMIT=400
XRAY_VMESS_AEAD_FORCED=false

XUI_DB_TYPE=sqlite
XUI_DB_DSN=
XUI_DB_MAX_OPEN_CONNS=20
XUI_DB_MAX_IDLE_CONNS=5

POSTGRES_USER=xui
POSTGRES_DB=xui
POSTGRES_PASSWORD=

PANEL_BIND=0.0.0.0
PANEL_PORT=2053
